<!-- INCLUDE -->

{% extends "bootstrap/base.html" %} {% block navbar %} {% include
"header.html" %} {% include "footer.html" %} {% endblock %} {% block head %} {{
super() }}

<style>
  .lijevo {
    text-align: left;
  }
</style>

{% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <!--STUPAC 1-->
    <div class="col-md-2 sidenav"></div>

    <!--STUPAC 2-->
    <div class="col-md-8 text-center">
      <div class="page-header">
        <div class="row">
          <form class="verticalform" action="/forma" method="POST">
            <div class="form-group">
              <!--ID-->
              <h1 value="redni_broj" name="redni_broj">
                Podatak broj: {{redni_broj}}
              </h1>
              <!--ID-->

              <br />
              <br />

              <!--INPUT UČENIK-->
              <div class="lijevo">
                <label for="exampleDropdown">Učenik:</label>
              </div>

              <input type="text" class="form-control dp" name="ucenik" />
              <!--INPUT UČENIK-->

              <br />

              <!--SELECT PROGRAMSKI JEZIK-->
              <div class="lijevo">
                <label for="programski_jezik">Odaberi programski jezik:</label>
              </div>
              <select class="form-control" id="programski_jezik" name="programski_jezik">
                <option selected>Otvori za odabir</option>
                {%for jezik in programski_jezici%}
                <option value="{{jezik}}">{{jezik}}</option>
                {%endfor%}
              </select>
              <!--SELECT PROGRAMSKI JEZIK-->

              <br />

              <!--BUTTON DODAJ-->
              <button type="submit" class="btn btn-primary btn-lg">
                Dodaj
              </button>
              <!--BUTTON DODAJ-->
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--STUPAC 3-->
    <div class="col-md-2 sidenav"></div>
  </div>
</div>

{% endblock %}